@font-face {
    font-family: 'tng'; /* Give your font a name */
    src: url('./TNG_Title.ttf') format('truetype'); /* Adjust the path and format */
    font-weight: normal;
    font-style: normal;
}


  